h1 {
    font-size: 50px;
    text-align: center;
    color: cyan;
    padding-bottom: 30px;
}
body > nav {
    font-size: 30px;
    padding-bottom: 50px;
}
body {
    background-color: rgb(3, 19, 30);
}
table {
    color:white;
}
#main_table {
    margin: 100px;
    border: 2px solid cyan;
}
#headtable {
    background-color: forestgreen;
    color:yellow;
}
#graph_actives {
    background-color: rgb(3,19,30);
}
